---
import type { Icon } from '@lib/icons'
import type { Link } from '@lib/links'
import type { FormContent } from '@browser/forms'
import { SITE } from '@data/site.mjs'
import Layout from '@layouts/Base.astro'
import AlbumReleasePreview from '@components/AlbumReleasePreview.astro'
import EmailSignUp from '@components/EmailSignUp'
import ContactForm from '@components/ContactForm'
import Image from '@components/Image.astro'
import IconLink from '@components/IconLink'
import icons, { getIconFromUrl } from '@data/icons'
import { isNotEmpty } from '@lib/utils'

const { title, description } = SITE

const navLinks: Link[] = [
  // { text: 'Music', href: 'https://horseradishmusic.bandcamp.com/' },
  // { text: 'Shows', href: '' },
  // { text: 'Merch', href: '' },
  // { text: 'Contact', href: '#contact' },
]

interface IconLink {
  href: string
  icon: Icon
}

const socialLinks: IconLink[] = [
  'https://www.instagram.com/horseradishmusic/',
  'https://horseradishmusic.bandcamp.com/releases',
  'https://open.spotify.com/artist/57MlKq8dUSBNC5Fe5OjAJv?si=uM1Q73FMTSCnmi-Ovy-ezA',
  'https://music.apple.com/us/artist/horse-radish/1547582014',
]
  .map((link) => ({
    href: link,
    icon: getIconFromUrl(link),
  }))
  .filter((social): social is IconLink => Boolean(social.icon))

const emailSignUpContent: FormContent = {
  initial: {
    title: 'Join our mailing list',
  },
  error: {
    title: 'Something went wrong',
  },
  success: {
    title: 'Success!',
    description: 'You are now subscribed.',
    // description: 'You will receive an email to confirm your subscription.',
  },
}

const contactFormContent: FormContent = {
  initial: {
    title: 'Contact us',
  },
  error: {
    title: 'Something went wrong',
  },
  success: {
    title: 'Thank you!',
    description: 'We received your message and will be in touch soon.',
  },
}
---

<Layout title={title} description={description}>
  <div class="fixed z-0 h-screen w-screen font-light">
    <Image
      src="./src/assets/young-ethels-1.jpg"
      alt=""
      sizes="100vw"
      class="absolute z-0 h-full w-full contrast-50 saturate-[30%]"
      imgProps={{
        class: 'object-cover w-full h-full',
      }}
    />
    <div
      class="vignette absolute z-10 h-full w-full bg-gray-950/50 mix-blend-multiply"
    >
    </div>
  </div>
  <main class="text-shadow container relative z-10 mx-auto py-8 text-white">
    <header class="my-16 text-center">
      <h1 class="font-display text-5xl">{title}</h1>
      <!-- <p class="">{description}</p> -->
      {
        navLinks.length > 0 && (
          <nav class="mt-2">
            <ul class="flex justify-center divide-x divide-white">
              {navLinks.map(({ text, href }) => (
                <li>
                  <a class="px-4 py-1" href={href}>
                    {text}
                  </a>
                </li>
              ))}
            </ul>
          </nav>
        )
      }
      {
        socialLinks.length > 0 && (
          <ul class="mt-2 flex justify-center space-x-3 text-xl">
            {socialLinks
              .map(({ href, icon }) => (
                <li>
                  <IconLink
                    icon={icon.getDefinition()}
                    url={href}
                    title={icon.name}
                    className="hover:text-cyan-300 duration-150"
                  />{' '}
                </li>
              ))
              .filter(isNotEmpty)}
          </ul>
        )
      }
    </header>
    <div class="my-16">
      <AlbumReleasePreview date="2025-10-03 00:00:00 EST" />
    </div>
    <div class="my-24">
      <EmailSignUp
        client:visible
        method="POST"
        action="https://script.google.com/macros/s/AKfycbyVdyl6TKl3YPVUXTIQ4z685CTlarTtE-ZxoxNG8TL06gf2D0K8zwgPVAGg3OYzBd3n/exec"
        content={emailSignUpContent}
      />
    </div>
    <div id="contact" class="my-24">
      <ContactForm
        client:visible
        method="POST"
        action="https://o73nuzdoza.execute-api.us-east-1.amazonaws.com/Prod/contact/"
        content={contactFormContent}
      />
    </div>
  </main>
</Layout>
